*.classpath
*.project
#maven ignore
target/
*.tar.gz
*.jar
*.zip
*.tar
*.war

#idea ignore
.idea/
*.iml
*.ipr
*.iws

#eclipse ignore
.settings/
.externalToolBuilders/
.project
.classpath

#temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db
/target

/bps-soa.tar.gz
